@import "~react-toolbox/lib/commons";

.content {
  padding: $unit;
  color: $color-primary;
}

a {
  color: $color-primary;
}
a:active {
  color: $color-accent;
}

.globalPadding {
  padding: 1em;
}

.fullwidth {
  width: 100%;
  padding: 1em 1em 0 1em;
}

.card {
  margin-bottom: 1.25em;
}

.topTitle > h5 {
  margin-bottom: 0.75em;
  text-transform: uppercase;
  padding-left: 0.25em;
  color: $palette-grey-400;
}
