$color-primary: rgb(100, 65, 165) !default;
$color-accent: rgb(185, 163, 227) !default;
$color-primary-dark: $color-primary !default;
$color-accent-dark: $color-accent !default;
$progress-main-color: rgb(255,204,128) !default;

/* COLOR VARIABLES
//-- Color configuration
$color-divider: $palette-grey-200 !default;
$color-background: $color-white !default;
$color-text: $palette-grey-900 !default;
$color-text-secondary: $palette-grey-600 !default;
$color-overlay: $color-black !default;
$color-overlay-opacity: 0.5 !default;

$color-primary: $palette-indigo-500 !default;

$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;
*/
